# Force LF line endings for all text files used by the game and/or by utilities used for EMF.
*.txt           text eol=lf
*.csv           text eol=lf
*.lua           text eol=lf
*.gui           text eol=lf
*.gfx           text eol=lf
*.py            text eol=lf
*.py3           text eol=lf
*.pl            text eol=lf
*.sh            text eol=lf
*.bash          text eol=lf
*.md            text eol=lf
*.json          text eol=lf
*.xml           text eol=lf
*.yaml          text eol=lf
*.html          text eol=lf
*.css           text eol=lf

# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
*.cmd           text eol=crlf
*.ps1           text eol=crlf

# Setup better diffs
*.py            text diff=python
*.py3           text diff=python
*.pl            text diff=perl
*.html          text diff=html
*.css           text diff=css
*.doc           text diff=astextplain
*.DOC           text diff=astextplain
*.docx          text diff=astextplain
*.DOCX          text diff=astextplain
*.dot           text diff=astextplain
*.DOT           text diff=astextplain
*.pdf           text diff=astextplain
*.PDF           text diff=astextplain
*.rtf           text diff=astextplain
*.RTF           text diff=astextplain

# Git diff tools set to use CP-1252 encoding on text files used by the game
# NOTE: "encoding" attribute ONLY sets how Git tools interpret files.
# It does NOT force those files to use a particular encoding.
EMF*/**/*.txt   encoding=cp1252
EMF*/**/*.csv   encoding=cp1252
EMF*/**/*.lua   encoding=cp1252
*.gui           encoding=cp1252
*.gfx           encoding=cp1252

# Whitespace settings
*               whitespace=indent-with-non-tab,trailing-space,space-before-tab,tabwidth=4
*.py            whitespace=trailing-space,space-before-tab,tabwidth=4
*.py3           whitespace=trailing-space,space-before-tab,tabwidth=4

# Explicit binary definition for graphics used by CK2
*.tga           binary
*.dds           binary
*.bmp           binary
